<h1>Editing Book</h1>

<%= form_with model:@book,url: book_path(@book.id),method: :patch do |f| %>
<div class="field">
  <libel for= "book_title">Title</libel>

  <%= f.text_field :title %>
</div>

<div class="field">
  <libel for= "book_body">Body</libel>

  <%= f.text_area :body %>
</div>

<div class="field">
<%= f.submit 'Update Book' %>
</div>

<% end %>

<%= link_to "Show", book_path(@book.id) %>
<a>|</a>
<a><%= link_to "Back", books_path %></a>


