<p id="notice"></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @books.each do |book| %>
    <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>

      <td>
        <%= link_to "Show", book_path(book.id) %>
      </td>

      <td>
        <%= link_to "Edit", edit_book_path(book.id) %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </td>

    </tr>
    <% end %>
  </tbody>

</table>


<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book.new do |f| %>
<div class="field">
  <libel for= "book_title">Title</libel>

  <%= f.text_field :title %>
</div>


<div class="field">
  <libel for= "book_body">body</libel>

  <%= f.text_area :body %>
</div>

  <%= f.submit 'Create Book' %>
<% end %>